*{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app{
  height:100% ;
  background: url("https://images.pexels.com/photos/1707820/pexels-photo-1707820.jpeg?cs=srgb&dl=pexels-misael-garcia-1707820.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card{
  background-color:  whitesmoke;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  box-shadow :12px 12px 10px gray;
  padding: 20px;
  
}

.heading{
  display: flex;
  align-items: center;
  height: 400px;
  
  font-family: 'Courier New', Courier, monospace;
}

.button{
  background-color: aqua;
  border-radius: 5px;
  height: 70px;
  margin: 10px;
  padding: 7px;
  cursor: pointer;
 
  
}

.button:hover {
  background-color:bisque;
}